<h1>Conversor de Moedas</h1>
<div class="container-fluid">
  <div class="card-group">
    <div class="card">
      <img src="https://www.kaboompics.com/cache/9/c/7/a/a/9c7aac8f6060f67832e7a08acebe8314f69ba531.jpeg"  class="card-img-top" alt="...">
      <div class="card-body">
        <a href="list-simbolos"><h2 class="card-title">Listar Simbolos</h2></a>
        <p class="card-text">Porjeto de conversão de moedas para alguma coisa</p>
        <p class="card-text">Porjeto de conversão de moedas para <strong>texto 2</strong></p>
        <p class="card-text"><small class="text-muted">Atualizado em: {{ dataAtual | date:'dd/MM/yyyy HH:mm:ss' }}</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://www.kaboompics.com/cache/2/4/0/c/1/240c152ae0557ba7a8813354f67d1a9fcb44e86b.jpeg"   class="card-img-top" alt="...">
      <div class="card-body">
        <a href="convertdolar"><h2 class="card-title">Converte Dolar</h2></a>
        <p class="card-text">Porjeto de conversão de moedas para alguma coisa</p>
        <p class="card-text">Porjeto de conversão de moedas para <strong>texto 2</strong></p>
        <p class="card-text"><small class="text-muted">Atualizado em: {{ dataAtual | date:'dd/MM/yyyy HH:mm:ss' }}</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://www.kaboompics.com/cache/b/b/2/3/b/bb23b9ccc42bd7abaf4e05b44fd9cc67d8a8c982.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="convertmoedas"><h2 class="card-title">Conversor de Moedas</h2></a>
        <p class="card-text">Porjeto de conversão de moedas para alguma coisa</p>
        <p class="card-text">Porjeto de conversão de moedas para <strong>texto 2</strong></p>
        <p class="card-text"><small class="text-muted">Atualizado em: {{ dataAtual | date:'dd/MM/yyyy HH:mm:ss' }}</small></p>
      </div>
    </div>
  </div>
</div>
