<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Conversor de moedas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="list-simbolos">Listar Simbolos</a>
        <a class="nav-link" href="convertdolar">Converter Dolar</a>
        <a class="nav-link" href="convertmoedas">Converter Moedas</a>
      </div>
    </div>
  </div>
</nav>
